/* Set scroll to above section */
html {
  scroll-behavior: smooth; /* Smooth scrolling */
  scroll-padding-top: 60px; /* Adjust this value to match the height of your navbar */
}

/* Add smooth fade transition to the body */
body {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

body.page-fade-out {
  opacity: 0;
}

.header-icon {
  width: 48px;
  height: 48px; 
  object-fit: contain; /* Ensure icons keep their aspect ratio */
}
 
#navbar {
    transition: top 0.3s ease-in-out;
    margin-top: -2rem;
}

.fade-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  }
  
  .fade-section.visible {
    opacity: 1;
    transform: translateY(0);
  }

/* Button hover */
.btn-lift {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth lift animation */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Initial shadow */
}

.btn-lift:hover {
  transform: translateY(-5px); /* Moves the button up */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Enhances shadow for a lifted effect */
}

.card {
  position: relative; /* Ensure the card is a relative container for positioning child elements */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation for hover effect */
}

.card:hover {
  transform: scale(1.05); /* Slightly enlarge the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}  

.card-body {
  padding-bottom: 50px; /* Add padding to make space for the button */
}

.card .btn {
  position: absolute;
  bottom: 15px; /* Adjust the distance from the bottom */
  left: 15px; /* Adjust the distance from the left */
}
